.header-close {
    transform: translateY(-110%);
}
:root {
    --box-width: 60%;
}
.buttons-playing {
    width: var(--box-width);
    height: 40%;
    bottom: 15%;
    margin: unset;
}
.playing-note {
background: rgb(255,225,104);
background: radial-gradient(circle, rgba(255,225,104,1) 0%, rgba(200,172,43,1) 81%);
}
.note-box {
    margin: unset;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--box-width);
    height: 45%;
    margin: 0 auto;
    overflow: hidden;
}
.note-box__hiden {
    display: none;
}
.notes {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
}
.notes-box {
    position: relative;
    display: flex;
    height: 100%;
}
.notes-white {
    height: 100%;
    position: relative;
}
.notes-black {
    height: 100%;
    position: absolute;
}
.note-block {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: rgba(130, 130, 130, 0.541);
    background: radial-gradient(circle, rgba(206, 206, 206, 0.788) rgba(59, 59, 59, 0.527) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.key-text {
    font-size: 20px;
    color: rgb(27, 27, 27);
}




.svg-ready-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 3;
}


@media screen and (max-width:1200px) {
    .note-box {
        display: none;
    }
}