.header-close {
    transform: translateY(-110%);
}
:root {
    --box-width: 60%;
}
.buttons-playing {
    position: absolute;
    width: var(--box-width);
    height: 40%;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: unset;
}

.note-box {
    margin: unset;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222;
    width: var(--box-width);
    height: 45%;
    margin: 0 auto;
    overflow: hidden;
}
.note-box__hiden {
    display: none;
}
.notes {
    width: 100%;
    height: 10px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0;
    display: flex;
}
.notes-box {
    position: relative;
    display: flex;
    height: 100%;
}
.notes-white {
    height: 100%;
    position: relative;
    background-color: #fff;
}
.notes-black {
    height: 100%;
    position: absolute;
    background-color: #000000;
}
.note-block {
    border-radius: 20px;
    background: rgba(130,130,130,1);
    background: radial-gradient(circle, rgba(130,130,130,1) 0%, rgba(59,59,59,1) 100%);
}


@media screen and (max-width:1200px) {
    .note-box {
        display: none;
    }
}