*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}


  

body{
    background-image: url(https://i.picsum.photos/id/1073/5472/3648.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    position: relative;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.486);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.678);
    /* animation: piano 4s ease-in-out alternate; */
}
.main-menu {
position: absolute;
left: 0;
right: 0;
height: 100%;
background-image: url(./img/1073-5472x3648.jpg);
z-index: -1;
background-attachment: fixed;
background-size: cover;
filter: blur(3px);
}
.main-header {
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    margin-left: 20px;
    letter-spacing: -2px
}
.button-box{
    position: relative;
    display: flex;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    opacity: 0.88;
    /* animation: piano 4s ease-in-out alternate; */
}

button{
    outline: none;
}

.white {
    height: 400px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    position: relative;
    outline: none;
    background-color: white;
}
.key-note-name {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.key-key-name {
    position: absolute;
    top: 10px;
    left: 33%;
    color: black;
    font-size: 17px;
}

.black{
    height: 60%;
    background-color: black;
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

button:focus {
    background: linear-gradient(to bottom, #ffffff 65%)
}



/* @keyframes piano {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150px);
    }
} */